<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car details</title>
    <th:block th:replace="fragments/head :: head">...</th:block>
</head>
<body>
<div th:replace="fragments/menu :: menu">
    menu to replace
</div>


<!--body of this view, here goes the content-->
<div class="container">
    <p>
        <span>ID: </span>
        <span th:text="${car.id}">id</span>
    </p>
    <p>
        <span>NAME: </span>
        <span th:text="${car.name}">name</span>
    </p>
    <p>
        <span>OWNER: </span>
        <span th:text="${car.owner.name}">owner</span>
    </p>
    <p>
        <span>DRIVERS (list): </span>
    </p>
    <ul>
        <li th:each="driver : ${car.drivers}">
            <a th:href="'/user/' + ${driver.id}">[[${driver.name}]]</a>
        </li>
    </ul>
</div>


<!--footer to insert in this view-->
<div th:replace="fragments/footer :: footer">
    footer to replace
</div>
</body>
</html>