<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User create</title>
    <th:block th:replace="fragments/head :: head">...</th:block>
</head>
<body>
<div th:replace="fragments/menu :: menu">
    menu to replace
</div>


<!--body of this view, here goes the content-->
<div class="container">
    <form th:action="@{/user/create}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role" class="form-control">
                <option th:each="role : ${T(com.ps.common.enumeration.UserRole).values()}"
                        th:value="${role}" th:text="${role}"
                        th:selected="${role == user.role}"></option>
            </select>
        </div>
        <button class="btn" type="submit">Save</button>
    </form>
</div>


<!--footer to insert in this view-->
<div th:replace="fragments/footer :: footer">
    footer to replace
</div>
</body>
</html>